In [310]:
# Import libraries and dependencies

import pandas as pd
from pathlib import Path
%matplotlib inline
import datetime

In [311]:
# Set the path

file_path = Path('budget_data.csv')

In [312]:
# Read in the CSV as a DataFrame

budget_csv = pd.read_csv(file_path)
budget_csv.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [313]:
# Set the date as the index to the DataFrame
budget_csv.set_index(pd.to_datetime(budget_csv['Date'], infer_datetime_format=True), inplace=True, )
budget_csv.head()

                Date  Profit/Losses
Date
2010-01-01  Jan-2010         867884
2010-02-01  Feb-2010         984655
2010-03-01  Mar-2010         322013
2010-04-01  Apr-2010         -69417
2010-05-01  May-2010         310503

In [314]:
# Adding Monthly Difference 
Change = budget_csv["Profit/Losses"].diff()
budget_csv["Monthly Diff"] = Change
budget_csv.head()

                Date  Profit/Losses  Monthly Diff
Date
2010-01-01  Jan-2010         867884           NaN
2010-02-01  Feb-2010         984655      116771.0
2010-03-01  Mar-2010         322013     -662642.0
2010-04-01  Apr-2010         -69417     -391430.0
2010-05-01  May-2010         310503      379920.0

In [315]:
# Answer 1: Total number of months included in the dataset

budget_csv_months = budget_csv["Date"].count()
budget_csv_months

86

In [316]:
# Answer 2: The net total amount of Profit/Losses over the entire period

budget_csv_pnl = "${:,.2f}".format(budget_csv["Profit/Losses"].sum())
budget_csv_pnl

'$38,382,578.00'

In [317]:
# Answer 3: The average of the changes in Profit/Losses over the entire period

budget_csv_avg_change = "${:,.2f}".format(Change.mean())
budget_csv_avg_change

'$-2,315.12'

In [318]:
# Answer 4a: The greatest increase in profits (date and amount) over the entire period

max_pnl = "${:,.2f}".format(Change.max())
max_pnl

'$1,926,159.00'

In [319]:
# Answer 5a: The greatest decrease in profits (date and amount) over the entire period

min_pnl =  "${:,.2f}".format(Change.min())
min_pnl

'$-2,196,167.00'

In [320]:
# Answer 4b: # Date that correspond to the max P&L 
max_date = budget_csv['Monthly Diff'].idxmax()
max_date
print(budget_csv.loc[max_date, 'Date'])

Feb-2012

In [321]:
# Answer 5b:# Date that correspond to the min P&L 

min_date = budget_csv['Monthly Diff'].idxmin()
min_date
print(budget_csv.loc[min_date, 'Date'])

Sep-2013

In [322]:
budget_csv.head()

                Date  Profit/Losses  Monthly Diff
Date
2010-01-01  Jan-2010         867884           NaN
2010-02-01  Feb-2010         984655      116771.0
2010-03-01  Mar-2010         322013     -662642.0
2010-04-01  Apr-2010         -69417     -391430.0
2010-05-01  May-2010         310503      379920.0

In [323]:
print(f"************Financial Analysis**************")
print(f"Total Months: {budget_csv_months}")
print(f"Total of Monthly Profits/Losses: {budget_csv_pnl}")
print(f"Average Increase/Decrease in Monthly Profits/Losses: {budget_csv_avg_change}")
print(f"Maximum Increase in Profits: {budget_csv.loc[max_date, 'Date']}  {max_pnl}")
print(f"Maximum Decrease in Profits: {budget_csv.loc[min_date, 'Date']}  {min_pnl}")

************Financial Analysis**************
Total Months: 86
Total of Monthly Profits/Losses: $38,382,578.00
Average Increase/Decrease in Monthly Profits/Losses: $-2,315.12
Maximum Increase in Profits: Feb-2012  $1,926,159.00
Maximum Decrease in Profits: Sep-2013  $-2,196,167.00